extends main/layout

block add-css
  link(rel='stylesheet', href='/css/slick.min.css')
  link(rel='stylesheet', href='/css/main/bootstrap-horizon.css')
  

block add-js
  script(type='text/javascript' src='/js/main/tether.min.js')
  script(type='text/javascript' src='/js/main/slick.min.js')
  script(type='text/javascript' src='/js/home.js')

  
block footer
  include main/footer.jade

block nav
  include main/navbar.jade

block content
  section.hero-slider
    each articolo, index in articoli 
      - var i = index + 1
      .hero-slide.slider_background(class='slider_#{i}', style='background-image: url(/img/articoli/#{articolo.image}#{imgExt});')
        .slider-overlay(class='slider-#{i}-overlay')
        .slide-box
          .slide-content.text-white.text-white
            h2.h1.text-white #{articolo.titolo}
            p.hidden-xs #{articolo.descrizione}
            a.text-white.btn.slide-btn(href='/articoli/#{articolo.url}') Continua...

  .row
    .col
      h1.title-header.text-center Parti per una nuova avventura ✈️ 🏝 ️
  .row
    .col-md-3.col-sm-6.categorie-border
      .context.categorie-box
        a(href="/articoli")
          .overlay.cat-color
            .text.text-white.text-center
              div
                p
                  i.fas.fa-book.fa-2x
                p.text-white Le mie vacanze
    .col-md-3.col-sm-6.categorie-border
      .context.categorie-box
        a(href="/vacanze")
          .overlay.cat-color
            .text.text-white.text-center
              div
                p
                  i.fas.fa-umbrella-beach.fa-2x
                p.text-white Offerte vacanze
    .col-md-3.col-sm-6.categorie-border
      .context.categorie-box
        a(href="/categorie/last-minute")
          .overlay.cat-color
            .text.text-white.text-center
              div
                p
                  i.fas.fa-plane-departure.fa-2x
                p.text-white Last Minute
    .col-md-3.col-sm-6.categorie-border
      .context.categorie-box
        a(href="/vacanze/crea")
          .overlay.cat-color
            .text.text-white.text-center
              div
                p
                  i.fas.fa-gift.fa-2x
                p.text-white Crea la tua vacanza
  .row
    .col
      h1.title-header.text-center Le nostre offerte 
      h5.text-center Vuoi partire ma non sai dove andare? 🤔 Ecco alcuni pacchetti fatti apposta per te 

  .container.mt-3
    .row-horizon
      each vacanza, index in vacanze 
        .col-md-4.col-sm-6
          include ./index/card.jade

  .row.mt-3
    .banner
      
  .row.mt-3
    //- BOX VACANZE PER MOOD
