extends main/layout

block add-css
  link(rel='stylesheet', href='/css/slick.min.css')

block add-js
  script(type='text/javascript' src='/js/main/tether.min.js')
  script(type='text/javascript' src='/js/main/slick.min.js')
  script(type='text/javascript' src='/js/home.js')
  
block footer
  include main/footer.jade

block nav
  include main/navbar.jade

block content
  section.hero-slider
    each articolo, index in articoli 
      - var i = index + 1
      .hero-slide.slider_background(class='slider_#{i}', style='background-image: url(/img/articoli/#{articolo.image});')
        .slider-overlay(class='slider-#{i}-overlay')
        .slide-box
          .slide-content.text-white.text-white
            h2.h1.text-white #{articolo.titolo}
            p.hidden-xs #{articolo.descrizione}
            a.text-white.btn.slide-btn(href='/articoli/#{articolo.url}') Continua...

  .row
    .col
      h1.title-header.text-center Parti per una nuova avventura ✈️ 🏝 ️
  .row
    .col-md-3.col-sm-6.categorie-border
      .context.categorie-box
        a(href="/articoli")
          img.img-fluid.mx-auto.d-block(src='https://raw.githubusercontent.com/solodev/sectional-boxes/master/solodev-logo.jpg', alt='')
          .overlay.green
            .text.text-white.text-center
              div
                p
                  i.fas.fa-book.fa-2x
                p Le mie vacanze
    .col-md-3.col-sm-6.categorie-border
      .context.categorie-box
        a(href="/vacanze")
          img.img-fluid.mx-auto.d-block(src='https://raw.githubusercontent.com/solodev/sectional-boxes/master/solodev-logo.jpg', alt='')
          .overlay.darkblue
            .text.text-white.text-center
              div
                p
                  i.fas.fa-umbrella-beach.fa-2x
                p Offerte vacanze
    .col-md-3.col-sm-6.categorie-border
      .context.categorie-box
        a(href="/categorie/last-minute")
          img.img-fluid.mx-auto.d-block(src='https://raw.githubusercontent.com/solodev/sectional-boxes/master/solodev-logo.jpg', alt='')
          .overlay.gold
            .text.text-white.text-center
              div
                p
                  i.fas.fa-plane-departure.fa-2x
                p Las Minute
    .col-md-3.col-sm-6.categorie-border
      .context.categorie-box
        a(href="/vacanze/crea")
          img.img-fluid.mx-auto.d-block(src='https://raw.githubusercontent.com/solodev/sectional-boxes/master/solodev-logo.jpg', alt='')
          .pink.overlay
            .text.text-white.text-center
              div
                p
                  i.fas.fa-gift.fa-2x
                p Crea la tua vacanza
  .row
    .col
      h1.title-header.text-center Le nostre offerte 
      h5.text-center Vuoi partire ma non sai dove andare? 🤔 Ecco alcuni pacchetti fatti apposta per te 

  .row
    .col-md-6.col-sm-6
      .context

    .col-md-6.col-sm-6
      .context


